<div class="widget catagory mb-50">
      <!-- Widget Title -->
      <h6 class="widget-title mb-30">Catagories</h6>

      <!--  Catagories  -->
      <div class="catagories-menu">
        <ul class="horizontal-catagories">
          <!-- "horizontal-catagories", class="active" for active category li-->
          {% for category in categories %}
            {% if forloop.first %}
              <li class="active"><a href="#">{{ category }}</a></li>
            {% else %}
            <li><a href="#">{{ category }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
</div>