<div class="widget catagory mb-50">
      <!-- Widget Title -->
      <h6 class="widget-title mb-30">Catagories</h6>

      <!--  Catagories  -->
      <div class="widget-desc">
      <div class="catagories-menu">
          <!-- "horizontal-catagories", class="active" for active category li-->
          {% for category in categories %}
              <div class="form-check">
                  <input class="form-check-input display-none" type="radio" name="category" value="{{ category }}" id="{{ category }}">
                  <label class="form-check-label" for="{{ category }}">{{ category }}</label>
              </div>
          {% endfor %}
      </div>
      </div>
</div>