<div class="row">
        <div class="col-12">
          <div
            class="product-topbar d-xl-flex align-items-end justify-content-between"
          >
            <!-- Total Products -->
            <div class="total-products">
                <p>Showing {{ items.start_index }}-{{ items.end_index }} of {{ total_items }}</p>
            </div>
            <!-- Sorting -->
            <form method="get">
            <div class="product-sorting d-flex">
              <div class="sort-by-date d-flex align-items-center mr-15">
                  <p>Sort by</p>
                  {{ topbar_form.select }}
                  <input type="hidden" name="items_per_page" value="{{ items_per_page }}">
              </div>
              <div class="view-product d-flex align-items-center">
                  <p>View</p>
                  {{ topbar_form.items_per_page }}
                  <input type="hidden" name="select" value="{{ sort_by }}">
              </div>
            </div>
          </form>
          </div>
        </div>
</div>
