<div class="row">
        <div class="col-12">
          <div
            class="product-topbar d-xl-flex align-items-end justify-content-between"
          >
            <!-- Total Products -->
            <div class="total-products">
                <p>Showing {{ items.start_index }}-{{ items.end_index }} of {{ total_items }}</p>
            </div>
            <!-- Sorting -->
            <div class="product-sorting d-flex">
              <div class="sort-by-date d-flex align-items-center mr-15">
                <p>Sort by</p>
                <form action="#" method="get">
                  <select name="select" id="sortBydate">
                    <option value="value">Price</option>
                    <option value="value">Newest</option>
                    <option value="value">Popular</option>
                  </select>
                </form>
              </div>
              <div class="view-product d-flex align-items-center">
                <p>View</p>
                  <form action="{% url 'shop' %}" method="get" id="itemsPerPageForm">
                  <select name="items_per_page" id="viewProduct" onchange="this.form.submit()">
                      <option value="2" {% if items_per_page == '2' %}selected{% endif %}>2</option>
                      <option value="5" {% if items_per_page == '5' %}selected{% endif %}>5</option>
                      <option value="12" {% if items_per_page == '12' %}selected{% endif %}>12</option>
                      <option value="24" {% if items_per_page == '24' %}selected{% endif %}>24</option>
                      <option value="48" {% if items_per_page == '48' %}selected{% endif %}>48</option>
                      <option value="96" {% if items_per_page == '96' %}selected{% endif %}>96</option>
                  </select>
                </form>
              </div>
            </div>
          </div>
        </div>
</div>