{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="cart-table-area section-padding-100-0">
				<div class="container-fluid">
					<form action="#" method="post">
					<div class="row">
						{% include 'checkout/form_inputs.html'%}
						<div class="col-12 col-lg-4">
							<div class="cart-summary">
								<h5>Підсумок</h5>
								<ul class="summary-table">
									<li><span>Всього:</span> <span>{{total_price }} грн</span></li>
								</ul>

								<div class="cart-btn mt-100">
									{% csrf_token %}
									<button type="submit" class="btn amado-btn w-100" {% if total_price == 0 %}disabled{% endif %}>Замовити</button>
								</div>
								{% if total_price == 0 %}
									<div class="alert alert-warning">
										<strong>Ваш кошик порожній. Будь ласка, додайте предмети перед формуванням замовлення.</strong>
									</div>
								{% endif %}
								{% if form.errors %}
									<div class="alert alert-danger">
										<h4>Помилка:</h4>
										{% for field, errors in form.errors.items %}
											<p>{{ errors|join:", " }}</p>
										{% endfor %}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
					</form>
				</div>
			</div>

{% endblock %}