{% extends 'base.html' %} {% block content %} {% load static %}
<div class="single-product-area section-padding-100 clearfix">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mt-50">
            <li class="breadcrumb-item"><a href="/shop/">Магазин</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              {{item.name}}
            </li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="single_product_thumb">
          <div
            id="product_details_slider"
            class="carousel slide"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a class="gallery_img" href="{{item.photo.url}}">
                  <img
                    class="d-block w-100"
                    src="{{item.photo.url}}"
                    alt="First slide"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="single_product_desc">
          <!-- Product Meta Data -->
          <div class="product-meta-data">
            <div class="line"></div>
            <p class="product-price">{{item.price}}грн</p>
            <h2>{{item.name}}</h2>

            <!-- Ratings & Review -->
            <div
              class="ratings-review mb-15 d-flex align-items-center justify-content-between"
            >
              <div class="ratings">
                {% for star in item.stars_range %}
                <i class="fa fa-star" aria-hidden="true"></i>
                {% endfor %} {% for star in item.empty_stars_range %}
                <i class="fa fa-star-o" aria-hidden="true"></i>
                {% endfor %}
              </div>
            </div>
            <!-- Avaiable -->
            {% if item.in_stock %}
            <p class="avaibility"><i class="fa fa-circle"></i> В наявності</p>
            {% else %}
            <p class="avaibility"><i class="fa"></i> Немає в наявності</p>
            {% endif %}
          </div>

          <div class="short_overview my-5">
            <p>{{item.description}}</p>
          </div>
          {% for item_cart in cart %} {% if item_cart.item.id == item.id %}
          <div class="d-flex align-items-center my-4">
            <div class="short_overview">У кошику: &nbsp;</div>

            <span id="item-qty-status">
              {% for item_cart in cart %} {% if item_cart.item.id == item.id %}
              {{ item_cart.qty }} 
              <input type="hidden" value="{{  item_cart.qty }}" id="item-qty-in">
              {% with cart.check_item_availability as is_available %}
              <input type="hidden" value="{{item_cart.available}}" id="item-available">
              </input>
              {% endwith %}
              {% endif %} {% endfor %}
            </span>
            <div class="short_overview">&nbsp; шт</div>
          </div>
          {% endif %}{% endfor %}

          <!-- Add to Cart Form -->
          {% if item.in_stock %}
          <form class="cart clearfix" method="post">

            <button
              type="submit"
              name="addtocart"
              value="{{item.id}}"
              class="btn amado-btn"
              id="add-button"
            >
              Додати у кошик
            </button>
          </form>
          {% else %} {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
