{% extends 'base.html' %}
{% block content %}
  <div class="shop_sidebar_area">
    <form method="post">
      {% include 'shop/categories.html'%}
      {% include 'shop/brands.html'%}
      {% include 'shop/price.html'%}
        <!-- Button Group -->
        {% csrf_token %}
        <div class="amado-btn-group mt-30 mb-100">
          <button type="submit" class="btn amado-btn mb-15">Find</button>
        </div>
     </form>
  </div>
  <div class="amado_product_area section-padding-100">
    <div class="container-fluid">
      {% include 'shop/topbar.html' %}
      {% include 'shop/items.html' %}
      {% include 'shop/pagination.html'%}
    </div>
</div>
{% endblock %}